body {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 28px; */
    -webkit-font-smoothing: antialiased;
    color: #202124;
}
header{
    background-color: black;
}
.footer {
    background-color: green;
    margin: 0%;
    height: 100%;
}
.widget{
    line-height: 1.4;
}
a{
    color: #4184f3;
    text-decoration: none;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
i{
    font-size: 36px;
    color: #fff;
}