@media (min-width:1000px) {
    .body-content {
        background-color: #ebebeb;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 2em;

    }

    .first-col {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .right-side {

        /* background-color: blue; */
        position: static;
        overflow: visible;
        


    }
    

    .social-media {
        background-color: rgb(245, 240, 240);
        padding: 2px;
        margin: 8px 8px;
        /* border-radius: 50%; */

    }
}

@media (max-width:1000px) {}