{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <linkhref="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/50e40ae8a3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet"> -->
    <!-- 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 -->

</head>

<body>
    <div class="page">
        <header class="header">
            <div class="top-header">
                <div class="left-top-header">
                    <button class="header_humberger icon-link">ADBLOGS NEWS</button>
                    <a href="#" class="header-cta"></a>
                </div>
                <div class="right-top-header">
                    <div class="header-search-container">
                        <form action="">
                            <input type="text" placeholder="Search blogs" class="input">
                        </form>
                    </div>
                    <a href="#" target="_blank" rel="nofollow" class="header-cta">Dema amano</a>
                </div>
            </div>
            <div class="bottom-header">
                <div class="nav-left">
                    <div class="nav-items">
                        <tab><a href="" class="header_nav-item">Latest</a></tab>
                        <tab><a href="" class="header_nav-item">Get Inspired</a></tab>
                        <tab><a href="" class="header_nav-item">Announcement</a></tab>
                        <tab><a href="" class="header_nav-item">Events</a></tab>
                        <tab><a href="" class="header_nav-item">Resource</a></tab>

                    </div>
                </div>

                <div class="nav-right">

                    Dema Amano
                </div>
            </div>

        </header>
        {% block content %} {% endblock %}
        <div class="footer">
            <div class="link">
                <ul>
                    <a href="#">dema</a>
                    <a href="#">dema</a>
                    <a href="#">dema</a>
                    <a href="#">dema</a>

                </ul>
            </div>
        </div>
    </div>
</body>

</html>